@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');


.headline {
    font-family: "Outfit";
    font-size: 40px;
    margin-top: 20%;
    margin-bottom: 14%;
    color: whitesmoke;
    text-shadow: -3px 0 10px rgba(2, 7, 27), -2px 0 5px rgba(2, 7, 27);
    padding: 2% ;
    border-radius: 5%;
    width: 90%;
    text-align: center;
    

}

.jokenpo_btn {
    font-family: "Outfit";
    font-size: 28px;
    text-decoration: none;
    padding: 30% 10%;
    background-color: rgba(2, 7, 27, 0.920);
    color: whitesmoke;
    text-shadow: -3px 0 10px rgba(2, 7, 27), -2px 0 5px rgba(2, 7, 27);
    border-radius: 10%;
    width: 60%;
    text-align: center;
}

.hunting_words_btn {
    font-family: "Outfit";
    font-size: 28px;
    text-decoration: none;
    padding: 30% 10%;
    background-color: rgba(2, 7, 27, 0.920);
    color: whitesmoke;
    text-shadow: -3px 0 10px rgba(2, 7, 27), -2px 0 5px rgba(2, 7, 27);
    border-radius: 10%;
    width: 60%;
    text-align: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

body {
    background-image: url("/assets/imgs_index/arcane-3.png");
    background-size: 150%;
}

@media only screen and (min-width: 768px){
    
.main{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

body {
    background-image: url("/assets/imgs_index/desktop-background.png");
    background-position: initial;
    background-size: 100%;
    background-repeat: no-repeat;
}

.headline {
    font-size: 64px;
    margin-top: 7%;
    margin-bottom: 7%;
    width: 100%;
}

.jokenpo_btn {
    padding: 5% 0%;
    width: 20%;
    margin-right: 10%;
    background-color: rgba(2, 7, 27, 0.820);
}

.hunting_words_btn {
    padding: 5% 0%;
    width: 20%;
    background-color: rgba(2, 7, 27, 0.820)
    
}

.jokenpo_btn:hover{
    background-color: rgba(2, 8, 31);
}

.hunting_words_btn:hover{
    background-color: rgb(2, 8, 31);
}

}